%li.boat
  .thumbnail
    = image_tag boats_info.photo||'rails.png', size: '400x400', alt: 'boat'
    .caption
      %h4= boats_info.NAME
      %p= simple_format truncate(boats_info.DESC_FULL,:length=>100)
      %p= boats_info.LOCATION