= search_form_for @search,:url=> search_boats_infos_url, class: 'form-search' do |f|
  = f.text_field :NAME_cont, class: 'input-medium search-query',:placeholder => "Search"
  = f.submit "Go",class: 'btn'