%h3 Boats
.row-fluid
  %ul.thumbnails
    %li.span4 
      - @boats_infos.each do |b|
        .thumbnail
          = image_tag b.photo, size: '400x400'
          .caption
            %h4= b.NAME
            %p= simple_format truncate(b.DESC_FULL,:length=>100)