%h3 Boats

.row.toplinks
  .span8
    = paginate @boats_infos
  .span4
    =render partial: 'sort'
.row-fluid
  %ul.thumbnails
    = render partial: 'boats_info', collection: @boats_infos, as: 'boats_info'