// Place all the styles related to the boats_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-fluid .boat{
  clear:both;
}

a{
  &:hover {
    color: #000;
  } 
}

.pagination{
  display: inline;
}

.toplinks{
  margin-bottom: 1em;
}
